<div class = 'offset-md-2'>
<div class='actions cold-md-8 offset-md-5 bottom5'>
  <button type="button" class="btn btn-outline-primary border-primary">
    <%= link_to "++ TEAM ++", new_post_path %>
  </button>
</div>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
</div>
